@page "/login"

<div class="container-login">
    <p>Авторизация</p>
    <div>
        <p>Login</p>
        <input @bind="@(LoginUsername)" />
        <p>Password</p>
        <input type="password" @bind="@(LoginPassword)" />
        <button @onclick=LoginOnClick >Войти</button>
    </div>
</div>

<div class="container-login">
    <p>Регистрация</p>
    <div>
        <p>Login</p>
        <input @bind="@(RegistrationUsername)" />
        <p>Password</p>
        <input type="password" @bind="@(RegistrationPassword)" />
        <p>Password (repeat)</p>
        <input type="password" @bind="@(RegistrationPasswordRepeat)" />
        <button @onclick=RegistrationOnClick>Регистрация</button>
    </div>
</div>

@code {
    private string LoginUsername { get; set; }
    private string LoginPassword { get; set; }

    private string RegistrationUsername { get; set; }
    private string RegistrationPassword { get; set; }
    private string RegistrationPasswordRepeat { get; set; }


    private void LoginOnClick()
    {
        Console.WriteLine("Login: " + LoginUsername);
        Console.WriteLine("Password: " + LoginPassword);
    }

    private void RegistrationOnClick()
    {
        Console.WriteLine("Login: " + RegistrationUsername);
        Console.WriteLine("Password: " + RegistrationPassword);
        Console.WriteLine("Password: " + RegistrationPasswordRepeat);
    }
}