@page "/login"
@using BlazorClient.Models.Entity

<div class="container-login">
    <p>Авторизация</p>
    <div>
        <p>Login</p>
        <input @bind="@(LoginUsername)" />
        <p>Password</p>
        <input type="password" @bind="@(LoginPassword)" />
        <button @onclick=LoginOnClick >Войти</button>
    </div>
</div>

<div class="container-login">
    <p>Регистрация</p>
    <div>
        <p>Login</p>
        <input @bind="@(RegistrationUsername)" />
        <p>Password</p>
        <input type="password" @bind="@(RegistrationPassword)" />
        <p>Password (repeat)</p>
        <input type="password" @bind="@(RegistrationPasswordRepeat)" />
        <button @onclick=RegistrationOnClick>Регистрация</button>
    </div>
</div>

@code {
    private ApplicationDBContext _context { get; set; }

    private string LoginUsername { get; set; }
    private string LoginPassword { get; set; }

    private string RegistrationUsername { get; set; }
    private string RegistrationPassword { get; set; }
    private string RegistrationPasswordRepeat { get; set; }

    private void LoginOnClick()
    {
        Console.WriteLine("Login: " + LoginUsername);
        Console.WriteLine("Password: " + LoginPassword);
    }

    private async void RegistrationOnClick()
    {
        Console.WriteLine("Login: " + RegistrationUsername);
        Console.WriteLine("Password: " + RegistrationPassword);
        Console.WriteLine("Password: " + RegistrationPasswordRepeat);

        var user = new User
            {
                Login = RegistrationUsername,
                Password = RegistrationPassword
            };
        Program.DBContext.Users.Add(user);
        await Program.DBContext.SaveChangesAsync();
    }
}