@page "/patient/{patientId:int}"
@using BlazorClient.Models.Entity
@using Microsoft.EntityFrameworkCore
<h3>PatientPage</h3>

@if (_patient == null)
{
    <p>Пациент не найден!</p>
}
else
{
    <p>Id: @(_patient.PatientId)</p>
    <p>FIO: @(_patient.FIO)</p>

    <a href="@($"/MedicalRecord/0/patient/{patientId}")">Добавить новую мед. карту</a>
    @foreach (var medicalRecord in _patient.MedicalRecords)
    {
        <a href="@($"/MedicalRecord/{medicalRecord.MedicalRecordId}/patient/{patientId}")">
            <div style="background-color:gray; padding:10px; margin-bottom:20px;">
                <p>MedicalRecordId: @(medicalRecord.MedicalRecordId)</p>
                <p>Diagnosis: @(medicalRecord.Diagnosis)</p>
                <p>TreatmentRecommendations: @(medicalRecord.TreatmentRecommendations)</p>
            </div>
        </a>
    }
}

@code {
    [Parameter]
    public int patientId { get; set; }

    private Patient? _patient = null;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _patient = await Program.DBContext.Patients
                    .Where(x => x.PatientId == patientId)
                    .Include(x=>x.MedicalRecords)
                    .FirstOrDefaultAsync();
    }
}
